MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=pdf_documents
MAX_PDF_SIZE_MB=10
LOG_LEVEL=INFO
APP_VERSION=1.0.0

ENABLE_TEXT_SUMMARY=true
SUMMARY_PROVIDER=local

# Para usar NVIDIA NIM:
# SUMMARY_PROVIDER=nvidia
# NVIDIA_API_KEY=colocar_api_key
# NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
# NVIDIA_MODEL=meta/llama-3.1-8b-instruct
